In [4]:
import pandas as pd
df = pd.read_csv('data/machine_learning/predictions/SVC.csv')
df

               team         opponent  is_home predicted_result
0           Burnley  Manchester City        1                L
1           Arsenal       Nottingham        1                W
2       Bournemouth         West Ham        1                D
3     Sheffield Utd   Crystal Palace        1                L
4          Brighton            Luton        1                W
...             ...              ...      ...              ...
3497       Clermont          Lorient        0                L
3498     Strasbourg             Lyon        0                L
3499            PSG             Metz        0                W
3500         Nantes           Monaco        0                L
3501          Brest         Toulouse        0                D

[3502 rows x 4 columns]

In [11]:
df['match_id'] = df.apply(lambda x: '_'.join(sorted([x['team'], x['opponent']])), axis=1)
home_df = df[df['is_home'] == 1].copy()
away_df = df[df['is_home'] == 0].copy()
home_df = home_df.rename(columns={'team': 'home_team', 'opponent': 'away_team', 'predicted_result': 'home_predicted_result'}).drop(['is_home'], axis=1)
away_df['predicted_result'].replace({'W': 'L', 'L': 'W'}, inplace=True)
away_df = away_df.rename(columns={'team': 'away_team', 'opponent': 'home_team', 'predicted_result': 'home_predicted_result'}).drop(['is_home'], axis=1)

In [14]:
full_game_df = pd.merge(home_df, away_df)
full_game_df

,home_team,away_team,home_predicted_result,match_id
0,Burnley,Manchester City,L,Burnley_Manchester City
1,Arsenal,Nottingham,W,Arsenal_Nottingham
2,Bournemouth,West Ham,D,Bournemouth_West Ham
3,Sheffield Utd,Crystal Palace,L,Crystal Palace_Sheffield Utd
4,Brighton,Luton,W,Brighton_Luton
...,...,...,...,...
1624,Lorient,Clermont,W,Clermont_Lorient
1625,Lyon,Strasbourg,W,Lyon_Strasbourg
1626,Metz,PSG,L,Metz_PSG
1627,Monaco,Nantes,W,Monaco_Nantes
1628,Toulouse,Brest,D,Brest_Toulouse

In [15]:
match_id_counts = full_game_df.groupby('match_id').size()
duplicate_match_ids = match_id_counts[match_id_counts > 2]
print("Match IDs that appear more than twice:")
print(duplicate_match_ids)
duplicate_rows = full_game_df[full_game_df['match_id'].isin(duplicate_match_ids.index)]
print(duplicate_rows)

Match IDs that appear more than twice:
Series([], dtype: int64)
Empty DataFrame
Columns: [home_team, away_team, home_predicted_result, match_id]
Index: []